/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START CODE */

:root {
   --color-white: #FFF;
   --color-action: #0a66c2;
   --color-grey: rgba(0, 0, 0, 0.6);
   --color-base-bg: #f3f2ef;
}

body {
   font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif
}

textarea {
   font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif
}

body {
   background-color:var(--color-base-bg)
}

.container {
   max-width:1128px;
   margin:0 auto;
}


/* HEADER */


header {
   background-color:var(--color-white);
}

header .container {
display:flex;
padding:8px 15px;
align-items:center;
gap:0.5rem;
}

@media(max-width:768px) {
   header .container {
      justify-content:space-between;
   }
}

header .logo {
   height:34px;
   fill: var(--color-action)
}

.search-bar {
   width:35%;
   position:relative;
}

.search-bar input {
   height:34px;
   border:none;
   background-color:var(--color-base-bg);
   border-radius:3px;
   width:70%;
   padding-left:40px;
   color:var(--color-grey);
}

@media(max-width:768px) {
   .search-bar {
      width:100%;
   }
   .search-bar input {
      width:85%;
   }
}

.search-bar .icon-search {
   position:absolute;
   top:50%;
   bottom:0;
   transform: translate(80%,-50%);
   color:var(--color-grey)
}

.search-bar input:focus-visible {
   outline:none;
}

.nav-items {
   display:flex;
}

.nav-items .item a {
   display:flex;
   flex-direction:column;
   align-items:center;
   text-decoration:none;
   color:var(--color-grey);
   gap:0.3rem;
   font-size:12px;
   min-width:80px;
}

.nav-items .item a.user-perfil {
   border-right:1px solid var(--color-base-bg);
}

.nav-items svg {
   width:24px;
   height:22px;
   fill: var(--color-grey)
}

.nav-items img {
   border-radius:50%;
}

section.content {

}

.grid-areas {
   display:grid;
   grid-template-areas: "sidebar main aside";
   grid-template-columns: minmax(0,5fr) minmax(0,12fr) minmax(300px,7fr);
   gap:1.3rem;
   margin-bottom:40px;
}
@media(max-width:768px) {
   .grid-areas {
      grid-template-areas:initial;
      grid-template-columns: none;
      gap:initial;
   }
}

.sidebar-area {
   grid-area:sidebar;

}


.sidebar-item:first-child {
   margin-top:20px;
}


.sidebar-item {
   background-color:var(--color-white);
   border-radius:0.5rem;
   margin-top:7px;
   overflow:hidden;
   box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.sidebar-item .inner-section {
   padding:12px;
   border-bottom:1px solid var(--color-base-bg);
}

.sidebar-item .bg-image-user {
   background-image:url(https://media-exp1.licdn.com/dms/image/C4E16AQH-t70oJtL9qA/profile-displaybackgroundimage-shrink_200_800/0/1640888200852?e=1655337600&v=beta&t=RuQeVGlhXI9JXpari9nnd1I32ToG0bBVvchMJD5xiSU);
   height:56px;
   background-position:center;
   background-size: cover;
   margin:-12px -12px 0;
}

.sidebar-item .perfil-image {
   display:block;
   text-align:center;
   margin-top:-40px;
}

.sidebar-item .perfil-image img {
   border-radius:50%;
   background-color:var(--color-white);
   padding:2px;
}

.sidebar-item .user-info {
   text-align:center;
}

.sidebar-item .user-info p {
   margin:10px 0;
   color:var(--color-grey);
}

.sidebar-item .user-info .name-user {
   font-weight:600;
}

.sidebar-item .user-info .description-user {
   font-size:12px;
   line-height:18px;
}

.sidebar-item .info-visited {
   padding:12px 0px;
}

.sidebar-item .info-visited a {
   text-decoration:none;
   color:var(--color-grey);
   font-size:12px;
   font-weight:600;
   line-height:15px;
}
.sidebar-item .info-visited a div  {
display:flex;
justify-content:space-between;
padding:4px 12px;
}

.sidebar-item .info-visited a div p:last-child {
   color:var(--color-action)
}

.sidebar-item .info-visited a div:hover {
   background-color:var(--color-base-bg);
}

.sidebar-item #free-premium a {
   text-decoration:none;
   color:var(--color-grey);
   font-size:12px;
}

.sidebar-item #free-premium .free-premium-container {
   padding:12px;
}

.sidebar-item #free-premium .free-premium-container:hover {
   background-color:var(--color-base-bg)
}

.sidebar-item .free-premium {
   margin-top:5px;
   display:flex;
   align-items:center;
   gap:0.3rem;
}

.sidebar-item .free-premium p {
   font-weight:700;
}

.sidebar-item #bookmark a {
   text-decoration:none;
   color:var(--color-grey);
   font-size:12px;
   font-weight:700;
}

.sidebar-item .bookmark-container {
   padding:12px;
   display:flex;
   align-items:center;
   gap:0.3rem;
}

.sidebar-item .bookmark-container:hover {
   background-color:var(--color-base-bg);
}
/* MAIN CONTENT */

.main-area {
   grid-area:main;
}

.main-area .main-item:first-child {
   margin-top:20px;
}

.main-area .main-item {
   background-color:var(--color-white);
   border-radius:0.5rem;
   overflow:hidden;
   box-shadow:rgb(0 0 0 / 5%) 0px 0px 0px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
   margin-top:10px;
}

.main-area .inner-section {
   padding:12px 12px 5px 12px;
   background-color:color;
}

.main-area .inner-section a {
   text-decoration:none;
}

.main-area #publish-card .publish {
   display:flex;
   align-items:center;
   gap:1rem;
}

.main-area #publish-card .publish img {
   border-radius:50%;
}

.main-area #publish-card .create-publication {
   padding:15px;
   border-radius:35px;
   border:1px solid var(--color-grey);
   font-weight:600;
   color:var(--color-grey);
   font-size:14px;
   transition:all 0.2s;
}

.main-area #publish-card .create-publication:hover {
   background-color:var(--color-base-bg);
}

.main-area #publish-card .buttons {
   display:flex;
   margin-top:5px;
   justify-content:space-around;
}

.main-area #publish-card .buttons .button {
   cursor:pointer;
   display:flex;
   align-items:center;
   gap:0.5rem;
   padding:10px 10px;
   border-radius:10px;
   color:var(--color-grey);
   font-size:14px;
   font-weight:600;
   transition:all 0.1s;
}


.main-area #publish-card .buttons .button:hover {
   background-color:var(--color-base-bg);
}

.spacer-order {
   display:flex;
  gap:1rem;
  align-items:center;
  padding:5px 0px;
  line-height:23px;
}

.spacer-order a {
   text-decoration:none;
   font-size:12px;
   color:var(--color-grey)
}

.spacer-order span {
   font-weight:600;
}

.spacer-order hr {
   flex-grow:1;
   margin:0;
   margin-top:3px
}


.main-area #feed-card .top-content {
   padding-bottom:12px;
   border-bottom: 1px solid var(--color-base-bg);
}

.main-area #feed-card .recommended {
   display:flex;
   justify-content:space-between;
}

.main-area #feed-card .recommended .recommended-wrapped {
   display:flex;
   align-items:center;
   gap:0.5rem;
   font-size:12px;
}

.main-area #feed-card .recommended .recommended-wrapped p {
   font-weight:600;
   color:rgb(0 0 0 / 84%);
}

.main-area #feed-card .recommended .recommended-wrapped span {
   color:var(--color-grey)
}
.main-area #feed-card .recommended img:first-child {
   margin-left:0px;
}

.main-area #feed-card .recommended img {
   margin-left:-10px;
   border-radius:50%;
}

.main-area #feed-card .recommended .more-info {
   cursor:pointer;
}

.main-area #feed-card .main-content {
   margin-top:12px;
}

.main-area #feed-card .main-content .header-feed {
   display:flex;
   justify-content:space-between;
   align-items:center;
}

.main-area #feed-card .main-content .actor {
   display:flex;
   gap:0.5rem;
}

.main-area #feed-card .main-content .actor .rounded {
   border-radius:50%;
}

.main-area #feed-card .main-content .info-actor {
   font-size:12px;
   color:var(--color-grey);
   line-height:16px
}

.main-area #feed-card .main-content .info-actor .name {
   font-size:14px;
   font-weight:700;
}

.main-area #feed-card .main-content .info-actor .name:hover {
   text-decoration:underline;
   color:var(--color-action)
}

.main-area #feed-card .main-content .info-actor .datetime {
   display:flex;
   align-items:center;
   gap:0.1rem;
}

.main-area #feed-card .main-content .header-feed .follow {
   display:flex;
   align-items:center;
   gap:0.3rem;
   font-weight:600;
   color:#02478c;
   border-radius:0.4rem;
   padding:8px 12px;
   transition: background-color 0.2s;
}

.main-area #feed-card .main-content .header-feed .follow:hover {
   background-color:Red;
   color:var(--color-action);
   background-color:rgba(112,181,249,0.2);
}

.main-area #feed-card .main-content .text-feed {
   margin-top:12px;
   font-size:14px;
   line-height:20px;
}

.main-area #feed-card .main-content .image-feed {
   margin-top:12px;
   margin-left:-12px;
   margin-right:-12px;
}

.main-area #feed-card .main-content .image-feed img,video {
   width:100%;
}

.main-area #feed-card .main-content .image-feed .image-details {
   margin-top:-2px;
   background-color:var(--color-base-bg);
   padding:12px;
   font-size:14px;
   font-weight:600;
   color:var(--color-grey);
}

.main-area #feed-card .main-content .image-feed .image-details > p {
   line-height:20px;
}

.main-area #feed-card .main-content .image-feed .more-details {
   display:flex;
   align-items:center;
   margin-top:10px;
   gap:0.5rem;
   font-size:12px;
   font-weight:400;
}

.main-area #feed-card .main-content .likes-wrapper {
   margin-top:12px;
   padding-bottom:12px;
   display:flex;
   align-items:center;
   justify-content:space-between;
   border-bottom:1px solid var(--color-base-bg);
   font-size:12px;
   color:var(--color-grey)
}

.main-area #feed-card .main-content .likes-wrapper .likes {
   display:flex;
   align-items:center;
   gap:0.5rem;
}

.main-area #feed-card .main-content .likes-wrapper .likes img:first-child {
   margin-left:0;
}

.main-area #feed-card .main-content .likes-wrapper .likes img {
   margin-left:-13px;
}

.main-area #feed-card .main-content .likes-wrapper .shares {
   display:flex;
   gap:0.3rem;
}

.main-area #feed-card .main-content .buttons-interaction {
   margin-top:5px;
   display:flex;
   justify-content:space-around;
   font-size:14px;
}

@media(max-width:768px) {
   .main-area #feed-card .main-content .buttons-interaction {
      justify-content:space-between;
   }
}

.main-area #feed-card .main-content .buttons-interaction .button {
   border-radius:3px;
   padding:12px 12px;
   display:flex;
   align-items:center;
   gap:0.3rem;
   color:var(--color-grey);
   transition: all 0.1s;
}

@media(max-width:768px) {
   .main-area #feed-card .main-content .buttons-interaction .button p {
      display:none;
   }
}

.main-area #feed-card .main-content .buttons-interaction .button:hover {
   background-color:var(--color-base-bg);
}


/* ASIDE AREA */

.aside-area {
   grid-area:aside;
}

.aside-area .aside-item {
   background-color:var(--color-white);
   border-radius:0.5rem;
   overflow:hidden;
   box-shadow:rgb(0 0 0 / 5%) 0px 0px 0px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
   margin-top:10px;
}

.aside-area .aside-item:first-child {
   margin-top:20px;
}


.aside-area .inner-section{
   padding:12px;
}

.aside-area #linkedin-news .title-item {
   display:flex;
   align-items:center;
   justify-content:space-between;
   font-weight:600;
   margin-bottom:12px;
}

.aside-area #linkedin-news .content-item ul {
   list-style-type: disc;
   padding-left:20px;
   max-height:250px;
   transition: max-height 0.40s ease-out;
   overflow:hidden;
}

.aside-area #linkedin-news .content-item .expand {
   max-height:600px;
   transition:max-height 0.40s ease-out;
}



.aside-area #linkedin-news .content-item li a {
   text-decoration:none;
   display:block;
   padding:5px;
   color:#333;
   font-weight:600;
   font-size:14px;
   transition:all 0.1s;
}

.aside-area #linkedin-news .content-item li:hover {
   background-color:var(--color-base-bg);
}

.aside-area #linkedin-news .content-item li a > p {
   overflow: hidden;
   white-space: pre;
   text-overflow: ellipsis;
}

.aside-area #linkedin-news .content-item li a p.subtitle {
   font-size:12px;
   font-weight:400;
   line-height:28px;
}

.aside-area #linkedin-news .content-item .load-more {
   display:flex;
   align-items:center;
   justify-content:center;
   gap:0.3rem;
   padding-left:20px;
   margin-bottom:5px;
   text-decoration:none;
   color:var(--color-grey);
   width:45%;
   padding: 7px 7px;
   border-radius:3px;
}

.aside-area #linkedin-news .content-item .load-more:hover {
   background-color:var(--color-base-bg);

}

.aside-area .group-items.sticky {
   position:sticky;
   top:10px;
}

.aside-area #advertising {
   text-align:center;
   text-decoration:none;
   display:block;
   color:#333

}

.aside-area #advertising .small-text {
   font-size:12px;
   color:var(--color-grey);
}

.aside-area #advertising .group-images {
   margin:12px 0px;
   display:flex;
   justify-content:center;
   gap:0.5rem;
}

.aside-area #advertising .group-images > img:first-child {
   border-radius:50%;
}

.aside-area #advertising button {
   margin-top:12px;
   border-radius:16px;
   padding:8px 20px;
   cursor:inherit;
   border: 1px solid var(--color-action);
   background-color:transparent;
   font-size:15px;
   font-weight:600;
   color:var(--color-action);
}

.aside-area #links-information ul {
   display:flex;
   flex-wrap:wrap;
   gap:0.5rem;
   justify-content:center;
   font-size:12px;
}

.aside-area #links-information a {
   text-decoration:none;
   color:var(--color-grey);
   line-height:16px;
}

.aside-area #links-information a:hover {
   text-decoration:underline;
   color:var(--color-action);
}


/* MODAL PUBLICATION */

.modal-box-container {
   z-index:2;
   position:fixed;
   width:100%;
   height:100vh;
   background-color:#3333333d
}

.modal-box {
   z-index:3;
   position: fixed;
   width:500px;
   height:50vh;
   background-color:var(--color-white);
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius:10px;
   padding:12px;
   position:relative;
}

.modal-box .top-modal {
   display:flex;
   align-items:center;
   justify-content:space-between;
   padding-bottom:10px;
   border-bottom:1px solid var(--color-base-bg);
}

.modal-box .top-modal h3 {
   font-size:20px;
   color:var(--color-grey)
}

.modal-box .content-modal .top-content {
   margin-top:12px;
   display:flex;
   align-items:center;
   gap:0.5rem;
}

.modal-box .top-modal #close-modal {
   cursor:pointer;
   padding:8px;
   border-radius:50%;
   transition: all 0.3s;
}

.modal-box .top-modal #close-modal:hover {
   background-color:var(--color-base-bg);
}

.modal-box .content-modal .top-content img {
   border-radius:50%;
}

.modal-box .content-modal .top-content .button {
   font-weight:500;
   color:var(--color-grey);
   text-decoration:none;
   display:flex;
   align-items:center;
   gap:0.3rem;
   padding:5px;
   border:1px solid;
   border-radius:16px;
}

.modal-box .content-modal .text-area-content {
   margin-top:12px;
}


.modal-box .content-modal .text-area-content textarea {
   font-size:16px;
   border:none;
   resize:none;
   width:100%;
   outline:none;
}

.modal-box .content-modal .text-area-content .add-hashtag {
   text-decoration:none;
   color:var(--color-action);
   padding:5px 10px;
   border-radius:5px;
   font-weight:600;
   transition:all 0.2s;

}

.modal-box .content-modal .text-area-content .add-hashtag:hover {
   background-color: #02478c38
}

.modal-box .bottom-content {
   position:absolute;
   bottom:12px;
}

.modal-box .bottom-content-inner {
   display:flex;
   margin-top:24px;
   align-items:center;
   gap: 1rem;
   justify-content:space-between;
}

.modal-box .bottom-content-inner .group-buttons {
   display:flex;
   gap:1rem;
   border-right:1px solid;
   padding-right:20px;
   color:var(--color-grey)
}

.modal-box .bottom-content-inner .button-anymore {
   font-size:14px;
   text-decoration:none;
   font-weight:500;
   display:flex;
   align-items:center;
   gap:0.3rem;
   color:var(--color-grey);
}

.modal-box .bottom-content-inner .button-publish {
   text-decoration:none;
   background-color:rgba(0, 0, 0, 0.08);
   color:rgba(177, 177, 177, 1);
   font-weight:500;
   border-radius:16px;
   padding:8px 15px;
   cursor:not-allowed;
}

.modal-box .bottom-content .add-hashtag {
   text-decoration:none;
   color:var(--color-action);
   padding:5px 10px;
   border-radius:5px;
   font-weight:600;
   transition:all 0.2s;

}

.modal-box .bottom-content .add-hashtag:hover {
   background-color: #02478c38
}


/* UTILITIES */

.no-padding {
   padding:0 !important;
}

#hash {
   color:var(--color-action);
   cursor:pointer;
   font-weight:600;
}

#hash:hover {
   text-decoration:underline;
}

@media(max-width:768px) {
   .no-mobile {
      display:none !important;
   }
}
